html {
  max-width: 2130px;
  min-width: 2130px;
  margin: 0 auto;
}

p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 38.5px;
}

h1,
h2,
h3 {
  font-family: Forum;
  text-transform: uppercase;
}

header {
  background-color: black;
}

.headerWrapper {
  padding: 66px 263px 62px 267px;
  display: flex;
  justify-content: space-between;
}

.headerWrapper div {
  display: flex;
}

.headerWrapper div img {
  width: 54px;
  height: 29px;
  margin-right: 29px;
}

nav ul {
  display: flex;
}

nav ul * {
  margin-right: 60px;
}

nav ul *:last-child {
  margin-right: 0;
}

nav ul {
  display: flex;
  color: #fff;
  font-family: Roboto;
  font-size: 23px;
  letter-spacing: 3px;
  padding-top: 4px;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}

h1 {
  color: #fff;
  font-family: Forum;
  font-size: 28px;
  letter-spacing: 7px;
  padding-top: 4px;
}

/* slider */

.slider {
  background-color: black;
  position: relative;
  height: 903px;
}

.sliderWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 263px 0 267px;
}

.blacSquare {
  position: absolute;
  left: 266px;
  height: 872px;
  width: 32%;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 1;
  box-shadow: 88px -22px 47px rgba(0, 0, 0, 0.66);
}

.imgWrapper {
  display: flex;
  flex-shrink: 0;
  width: 70%;
  overflow: hidden;
}

.imgWrapper * {
  display: flex;
  flex-shrink: 0;
  height: 835px;
  margin-right: 10px;
}

.sliderTitle {
  color: #fff;
  font-size: 83px;
  letter-spacing: 9px;
  padding-top: 176px;
  margin-bottom: 32px;
}

.sliderTitle * {
  margin-bottom: 6px;
}

.sliderTitle *:last-child {
  margin-bottom: 0;
}

.blacSquare p {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2.7px;
  margin-bottom: 85px;
}

.blacSquare button {
  border-radius: 10px;
  background: #710707;
  width: 399px;
  height: 78px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  user-select: none;
}

.sliderController {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 665px;
  height: 130px;
  background-color: black;
  bottom: 0;
  padding: 40px 79px;
}

.sliderController p {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  user-select: none;
}

.carousel {
  display: flex;
  width: 205px;
}

.arrows {
  display: flex;
}

.arrows p {
  font-size: 34px;
  margin-right: 21px;
  margin-top: -9px;
  cursor: pointer;
  user-select: none;
}

.arrows p:last-child {
  margin-right: 0;
}

.carousel div {
  width: 17px;
  height: 17px;
  background-color: white;
  margin-right: 28px;
}

.carousel div:last-child {
  margin-right: 0px;
}

/* virtualTour */

.virtualTourWrapper {
  padding: 86px 264px;
}

.virtualTourWrapper h2 {
  color: #9d8665;
  font-size: 90px;
  letter-spacing: 5px;
  margin-bottom: 29px;
}

hr {
  background: #710707;
  height: 3px;
  margin-bottom: 80px;
}

.showcase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.showcase > div {
  width: 490px;
  height: 424px;
  margin-bottom: 130px;
}

.showcase > div img {
  width: 100%;
  margin-bottom: 30px;
}

.showcase > div h3 {
  font-size: 35px;
  letter-spacing: 6px;
  margin-bottom: 12px;
}

.showcase > div hr {
  width: 335px;
  height: 2px;
  margin-bottom: 7px;
}

.showcase > div p {
  color: #000;
  font-size: 24px;
  font-weight: 100;
}

.showcase > div p:last-child {
  font-size: 20px;
  margin-top: -2px;
}
