html {
  max-width: 2130px;
  min-width: 2130px;
  margin: 0 auto;
}

p {
  font-family: Roboto;
  font-weight: 300;
  line-height: 38.5px;
}

h1,
h2,
h3 {
  font-family: Forum;
  text-transform: uppercase;
}

header {
  background-color: black;
}

.headerWrapper {
  padding: 66px 263px 62px 267px;
  display: flex;
  justify-content: space-between;
}

.headerWrapper div {
  display: flex;
}

.headerWrapper div img {
  width: 54px;
  height: 29px;
  margin-right: 29px;
}

nav ul {
  display: flex;
}

nav ul * {
  margin-right: 60px;
}

nav ul *:last-child {
  margin-right: 0;
}

nav ul {
  display: flex;
  color: #fff;
  font-family: Roboto;
  font-size: 23px;
  letter-spacing: 3px;
  padding-top: 4px;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
}

a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

a:hover:after,
a:focus:after {
  width: 100%;
}

h1 {
  color: #fff;
  font-family: Forum;
  font-size: 28px;
  letter-spacing: 7px;
  padding-top: 4px;
}

/* slider */

.slider {
  background-color: black;
  position: relative;
  height: 903px;
}

.sliderWrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 263px 0 267px;
}

.blacSquare {
  position: absolute;
  left: 266px;
  height: 872px;
  width: 32%;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 1;
  box-shadow: 88px -22px 47px rgba(0, 0, 0, 0.66);
}

.imgWrapper {
  display: flex;
  flex-shrink: 0;
  width: 70%;
  overflow: hidden;
}

.imgWrapper * {
  display: flex;
  flex-shrink: 0;
  height: 835px;
  margin-right: 10px;
}

.sliderTitle {
  color: #fff;
  font-size: 83px;
  letter-spacing: 9px;
  padding-top: 176px;
  margin-bottom: 32px;
}

.sliderTitle * {
  margin-bottom: 6px;
}

.sliderTitle *:last-child {
  margin-bottom: 0;
}

.blacSquare p {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2.7px;
  margin-bottom: 85px;
}

.blacSquare button {
  border-radius: 10px;
  background: #710707;
  width: 399px;
  height: 78px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  user-select: none;
}

.sliderController {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 665px;
  height: 130px;
  background-color: black;
  bottom: 0;
  padding: 40px 79px;
}

.sliderController p {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 3px;
  user-select: none;
}

.carousel {
  display: flex;
  width: 205px;
}

.arrows {
  display: flex;
}

.arrows p {
  font-size: 34px;
  margin-right: 21px;
  margin-top: -9px;
  cursor: pointer;
  user-select: none;
}

.arrows p:last-child {
  margin-right: 0;
}

.carousel div {
  width: 17px;
  height: 17px;
  background-color: white;
  margin-right: 28px;
}

.carousel div:last-child {
  margin-right: 0px;
}

/* virtualTour */

.virtualTourWrapper {
  padding: 86px 264px 0 264px;
}

.virtualTourWrapper h2 {
  color: #9d8665;
  font-size: 90px;
  letter-spacing: 5px;
  margin-bottom: 29px;
}

hr {
  background: #710707;
  height: 3px;
  margin-bottom: 80px;
}

.showcase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.showcase > div {
  width: 490px;
  height: 424px;
  margin-bottom: 130px;
}

.showcase > div img {
  width: 100%;
  margin-bottom: 30px;
}

.showcase > div h3 {
  font-size: 35px;
  letter-spacing: 6px;
  margin-bottom: 12px;
}

.showcase > div hr {
  width: 335px;
  height: 2px;
  margin-bottom: 7px;
}

.showcase > div p {
  color: #000;
  font-size: 24px;
  font-weight: 100;
}

.showcase > div p:last-child {
  font-size: 20px;
  margin-top: -2px;
}

/* pictureExplore */

.pictureExplore {
  background-color: black;
}

.pictureExploreWrapper {
  padding: 90px 266px 83px 266px;
  display: flex;
  justify-content: space-between;
}

.discr h2 {
  color: #fff;
  font-size: 84px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.discr hr {
  width: 735px;
  margin-bottom: 88px;
}

.discr div {
  width: 730px;
}

.discr p {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 38.5px;
  letter-spacing: 0.2px;
  margin-bottom: 36px;
}

.discr p:last-child {
  margin-bottom: 0;
}

.discr p > span {
  color: #caaa7d;
}

.afterPicWrapper {
  margin-top: 12px;
  width: 798px;
  background-image: url("./assets/img/explore-slider/after.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 778px;
  overflow: hidden;
}

.expPicWrapper {
  width: 400px;
  overflow: hidden;
}

.expPicWrapper > img {
  display: block;
  width: auto;
  max-width: 798px;
  max-height: 778px;
  min-width: 798px;
  min-height: 778px;
}

/* video player */

.player__button,
.player__slider,
.player__select {
  text-align-last: right;
  border: 0;
  background-color: transparent;
  color: #fff;
}
.player__button:focus,
.player__slider:focus,
.player__select:focus {
  outline: none;
}

.player__button {
  font-size: 20px;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.player__select > option {
  background: rgba(255, 255, 255, 0.4);
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 1;
}

.player {
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  height: 826px;
  margin-bottom: 40px;
}

.player__video {
  width: 100%;
}

.playBtn {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease-out;
}

.playBtn img {
  width: 243px;
  height: 247px;
}

.player__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2147483647;
}

.player__controls--visible {
  transform: translateY(0);
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 10px;
  transition: height 0.3s;
  cursor: pointer;
  background-color: #c4c4c4;
  max-width: 70%;
}

.progress__filled {
  width: 50%;
  background: #710707;
  flex: 0;
  flex-basis: 0%;
  position: relative;
  cursor: pointer;
}

.progressCircle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
  right: -10px;
  top: -8px;
  background-color: white;
}

.mute {
  cursor: pointer;
  margin: 0 35px;
}

/* unholy css to style input type="range" */

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  background: #ecf0f1;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  -webkit-appearance: none;
}

#myinput {
  background: linear-gradient(
    to right,
    #710707 0%,
    #710707 50%,
    #fff 50%,
    #fff 100%
  );
  height: 10px;
  width: 180px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

/* fullscreen */
.fullScreenWrapper {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

html:-ms-fullscreen {
  width: 100%;
}
:-webkit-full-screen {
  background-color: transparent;
}
/* hide controls on fullscreen with WebKit */
video::-webkit-media-controls {
  display: none !important;
}

video {
  height: auto;
}

.videoJourney {
  padding: 87px 261px 73px 261px;
}

.videoJourneyTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.videoJourneyTitle h2 {
  color: #9d8665;
  font-size: 87px;
  letter-spacing: 7px;
  width: 1364px;
}

.videoJourneyTitle p {
  font-size: 22px;
  font-weight: 300;
  line-height: 43.5px;
  margin-top: 5px;
  letter-spacing: 1.17px;
}

.videoSliderWrapper {
  display: flex;
  margin-left: 5px;
  overflow: hidden;
  margin-bottom: 31px;
}

.videoSliderWrapper > div {
  min-width: 503px;
  min-height: 281px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 12px;
  margin-right: 46px;
}

.videoSliderWrapper > div > img {
  align-self: center;
  cursor: pointer;
}

.videoSliderTitle {
  display: flex;
  margin-bottom: 57px;
}

.videoSliderTitle img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 14px;
}

.videoSliderTitle p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 2px;
}

.videoSliderController {
  display: flex;
  justify-content: center;
}

.videoSliderControllerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.videoSliderControllerWrapper p {
  font-size: 25px;
  user-select: none;
  cursor: pointer;
}

.videoSliderControllerWrapper div {
  background-color: #999999;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

/* gallery */

.gallery {
  background-color: black;
}

.galleryWrapper {
  padding: 90px 265px;
  overflow: scroll;
  height: 2443px;
}

.galleryWrapper {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.galleryWrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.galleryWrapper h2 {
  color: #fff;
  font-size: 82px;
  letter-spacing: 9px;
  text-transform: uppercase;
  margin-bottom: 88px;
}

.galleriPicWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galleriPicWrapper img {
  object-fit: contain;
  align-self: stretch;
  width: 505px;
  margin-bottom: 24px;
}

.galleriPicWrapper img:last-child {
  margin-bottom: 0px;
}

.firstColumn,
.secondColumn,
.thirdColumn {
  display: flex;
  flex-direction: column;
}

.firstColumn,
.thirdColumn {
  justify-content: flex-end;
}

/* tickets */

.tickets {
  padding: 89px 261px 83px 268px;
}

.tickets h2 {
  color: #9d8665;
  font-size: 84px;
  letter-spacing: 8px;
  margin-bottom: 32px;
}

.tickets hr {
  margin-bottom: 82px;
}

.tickets > div {
  display: flex;
  justify-content: space-between;
}

.tickets > div > img {
  width: 801px;
}

.buyTicket {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-left: 69px;
  padding-right: 4px;
}

.type > p,
.amountTitle {
  color: #000;
  font-size: 28px;
  letter-spacing: 1.5px;
}

.type > p {
  margin-bottom: 58px;
}

.amountTitle {
  text-align: right;
  margin-bottom: 22px;
}

.type > div {
  display: flex;
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  margin-bottom: 42px;
  margin-right: 26px;
  cursor: pointer;
  border-radius: 100%;
  -webkit-appearance: none;
  border: 1px solid black;
}

input[type="radio"]:checked {
  background: black;
}

label {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.38px;
  margin-top: -4px;
}

.amount {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amountCenter {
  font-size: 24px;
  font-weight: 300;
  align-self: center;
  margin-bottom: 10px;
}

.counter {
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  width: 164px;
  height: 55px;
  padding: 6px 14px;
  margin-bottom: 10px;
}

.counter > button {
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
}

.counter > p {
  font-size: 22px;
}

.secondCounter {
  margin-bottom: 52px;
}

.total {
  font-size: 33px;
  line-height: normal;
  letter-spacing: 1.65px;
  margin-bottom: 67px;
}

.amount > button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2.4px;
  border-radius: 2px;
  background: #000;
  padding: 13px 46px;
}

/* parallax */

.parallax {
  background-image: url("./assets/img/parallax.jpg");
  height: 444px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contacts */

.contacts {
  padding: 76px 263px;
}

.contacts h2 {
  color: #9d8665;
  font-size: 86px;
  letter-spacing: 8px;
  margin-bottom: 30px;
}

.contactsWrapper {
  display: flex;
  justify-content: space-between;
}

.contactsWrapper h3 {
  font-size: 35px;
  width: 265px;
  font-weight: 500;
  letter-spacing: 0.7px;
  text-transform: none;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 50px;
}

.contactsWrapper p {
  font-size: 22px;
  letter-spacing: 1.2px;
  margin-bottom: 18px;
}

.contactsWrapper p:last-child {
    margin-bottom: 0;
  }
